//--- PALETTE
$balticSea:     #272e3e; // document background-color
$dark:          #1f2533;
$tuna:          #313a4e;
$kashmirBlue:   #4969b5;
$brickRed:      #c43742;
$cloudyBlue:    #a5bef6;
$iron:          #d5dae3;
$seaShell:      #ddeded;
$milkWhite:     #fdfdfd;
$milkWhite10:   rgba(253, 253, 253, 0.1);
$white:         #fff; // document default text-color

//--- FONTS
$mainFont: 'Inter', sans-serif;
$titleFont: 'IBM Plex Sans', sans-serif;

//--- BOX MODEL
$defaultPadding: 1rem;
$defaultMargin: 1rem;