.header {
  /* Box model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: h;
  padding: 0.5rem;

  /* Visual */
  background-color: wheat;
}

.logo {
  /* Box model */
  width: 1rem;
  height: 1rem;
}

.title {
  /* Box model */
  font-size: 1rem;
  /* color: $tuna; */
}

.avatar {
  /* Box model */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  /* Visual */
  background-color: green;
}

