.sideBar {
  /* Box model */
  grid-area: s;
  padding: 0.5rem;

  /* Visual */
  background-color: wheat;
}

.navList {
  /* Box model */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.25rem;

  /* Typography */
  list-style: none;
}

.navItem {
  /* Typography */
  font-size: 0.5rem;
  line-height: 0.5rem;
  
}

.navItem a {
  /* Typography */
  text-decoration: none;
  color: black;
}

.active {
  color: green !important;
}